
<% if !current_user?(user) %>
    <div class="row">
      <%#= gravatar_for user, size: 50 %>
      <div class="col-md-3 col-md-offset-1">
        <%= user.name %>
      </div>
      <div class="col-md-2 col-md-offset-6">
        <%= link_to user, method: :delete,
                    data: {confirm: "You sure?"} do %>
            <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>
<% end %>